# Gradle files
.gradle/
build/

# Local configuration
local.properties
.env.local
supabase/supabase.properties
app/google-services.json

# Log files
*.log

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db